<!doctype html>
<html>
	<head>
		<title>
			校历课程表
		</title>
		<!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
	</head>
	<body>
		<!--
			{
				classes: []//list of classes on the input date
				assignments: []//list of assignments due on the input date
				week: int//week number on the school curriculum on the input date
				day: char//which day the input date is
			}
		-->
		<form method="post" enctype="application/x-www-form-urlencoded">
			<p><input type="text" name="year"/> 年 <input type="text" name="month" pattern=[1-12]/> 月 <input type="text" name="day" pattern=[1-31]/> 日 <input type="submit" value="查询"/></p>
		</form>
		<ul>
			<% for(var i = 0; i < classes.length; i++) {%>
			<li>
				<%= classes[i].time[1] %> <%= classes[i].coursename %>
			</li>
			<% } %>
			<% for(var i = 0; i < assignments.length; i++) {%>
			<li>
				未交作业 <%= assignments[i].title %>
			</li>
			<% } %>
		</ul>
		<div class="footer">
			<div class="previous">
				上一天
			</div> 
			<div class="week">
				第<%= week %>周
			</div>
			<div class="day">
				星期<%= day %>
			</div>
			<div class="next">
				下一天
			</div>
		</div>
	</body>
</html>