<!doctype html>
<html>
	<head>
		<title>
			课程信息
		</title>
		<!-- <link rel="stylesheet" href="/stylesheet/style.css"> -->
	</head>
	<body>
		<!--
			{
				course: {}//The selected course
				assignments: []//list of assignments
				notices: []//list of notices
				documents: []//list of documents
			}
		-->
		<h1>
			<%= course.coursename %>
		</h1>
		<h2>
			课程作业
		</h2>
		<ul>
			<% for(var i = 0; i < assignments.length; i++) {%>
			<li>
				<%= assignments[i].title %> <%= assignments[i].startdate %>-<%= assignments[i].duedate %> <%= assignments[i].grade %>
			</li>
			<% } %>
		</ul>
		<h2>
			课程公告
		</h2>
		<ul>
			<% for(var i = 0; i < notices.length; i++) {%>
			<li>
				<%= notices[i].title %> <%= notices[i].publisher %> <%= notices[i].publishdate %> <%= notices[i].state %>
			</li>
			<% } %>
		</ul>
		<h2>
			课程文件
		</h2>
		<ul>
			<% for(var i = 0; i < documents.length; i++) {%>
			<li>
				<%= documents[i].title %> <%= documents[i].explanation %> <%= documents[i].updatingtime %> <%= documents[i].state %> <%= documents[i].size %>
			</li>
			<% } %>
		</ul>
	</body>
</html>