<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<ul>
    <% for(var i = 0; i <  documents.documents.length; i++) {%>
    <li><%= (documents.documents)[i].title %> <%= (documents.documents)[i].explanation %> <%= (documents.documents)[i].updatingtime %>
        <%= (documents.documents)[i].state %> <%= (documents.documents)[i].size %>  <%= (documents.documents)[i].url %> </li>
    <% } %>
</ul>

</body>
</html>