<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<ul>
    <% for(var i = 0; i < lessons.courses.length; i++) {%>
    <li><%= (lessons.courses)[i].coursename %> <%= (lessons.courses)[i].courseid %> <%= (lessons.courses)[i]. unsubmittedoperations %>
        <%= (lessons.courses)[i].unreadnotice %> <%= (lessons.courses)[i].newfile %></li>
    <a href=<%= "/student/course/" + (lessons.courses)[i].courseid + "/notices" %>>课程公告</a>
    <a href=<%= "/student/course/" + (lessons.courses)[i].courseid + "/documents" %>>课程文件</a>
    <a href=<%= "/student/course/" + (lessons.courses)[i].courseid + "/homeworks" %>>课程作业</a>
    <% } %>
</ul>

</body>
</html>