<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/style-course.css" />
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <script src="/js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div class="row">
    <div id="banner" class="widget-content">
        <img src="/img/tsinghua.png">
    </div>
</div>

<div class="row">
    <div id="banner" class="widget-content">
        <img src="/img/line.png">
    </div>
</div>

<% if (title === '我的课程') {%>
<ul class="widget-content">
    <% for(var i = 0; i < lessons.courses.length; i++) {%>
    <li class="widget-title">
        <p><%= (lessons.courses)[i].coursename %></p>
    </li>
    <li class="widget-text">
        <table class="table table-striped">
            <td>
                <a class="assignments" id="<%= (lessons.courses)[i].courseid %>">
                    <p>未读公告：<%= (lessons.courses)[i]. unsubmittedoperations %></p>
                </a>
            </td>
            <nobr></nobr>
            <td>
                <a class="notice" id="<%= (lessons.courses)[i].courseid %>">
                    <p>未读公告：<%= (lessons.courses)[i]. unreadnotice %></p>
                </a>
            </td>
            <td>
                <a class="documents" id="<%= (lessons.courses)[i].courseid %>">
                    <p>新文件：<%= (lessons.courses)[i]. newfile %></p>
                </a>
            </td>
        </table>
    </li>
    <% } %>
</ul>
<%}%>

<% if (title === '未读公告') {%>
<% for(var j = 0; j < notices.notices.length; j++) {%>
<% if ((notices.notices)[j].state === 'unread') {%>
<div class="widget-content">
    <div class="widget-title">
        <li class="active"><p>公告名：<%= (notices.notices)[j].title %></p></li>
    </div>
    <div class="widget-text">
        <li><p>发布者：<%= (notices.notices)[j].publisher %></p></li>
        <li><p>发布时间：<%= (notices.notices)[j].publishtime %></p></li>
        <li><p>内容：<%= (notices.notices)[j].content %></p></li>
    </div>
</div>
<%}%>
<% } %>
<%}%>

<% if (title === '新文件') {%>
<% for(var j = 0; j < documents.documents.length; j++) {%>
<% if ((documents.documents)[j].state === 'new') {%>
<div class="widget-content">
    <div class="widget-title">
        <li><p>文件名：  <%= (documents.documents)[j].title %></p></li>
    </div>
    <div class="widget-text">
        <li><p>文件内容：<%= (documents.documents)[j].explanation %></p></li>
        <li><p>上传时间：<%= (documents.documents)[j].updatingtime %></p></li>
    </div>
</div>
<%}%>
<% } %>
<%}%>

<% if (title === '未交作业') {%>
<% for(var j = 0; j < assignments.assignments.length; j++) {%>
<% if ((assignments.assignments)[j].state === '尚未提交') {%>
<div class="widget-content">
    <div class="widget-title">
        <li><p><%= (assignments.assignments)[j].title %></p></li>
    </div>
    <div class="widget-middle">
        <li><p><%= (assignments.assignments)[j].duedate %></p></li>
    </div>
    <div class="widget-text">
        <li>
            <p>
                <abbr title="<%= (assignments.assignments)[j].detail%>">
                    <%= (assignments.assignments)[j].detail %>
                </abbr>
            </p>
        </li>
    </div>
</div>
<%}%>
<% } %>
<%}%>

<div class="row">
    <div id="banner" class="widget-content">
        <img src="/img/line.png">
    </div>
</div>

<div class="page-footer">
    <p>版权所有 © WeLearn</p>
</div>

<script>
    $('.notice').each(function (){
       $(this).click(function (){
           var temp = $(this).attr('id');
           $.post('/student/course/notice/redirect',{courseid: temp},function (data) {
               //alert(data.url);
               window.location.href = data.url;
           });
       }) ;
    });

    $('.assignments').each(function (){
        $(this).click(function (){
            var temp = $(this).attr('id');
            $.post('/student/course/assignments/redirect',{courseid: temp},function (data) {
                //alert(data.url);
                window.location.href = data.url;
            });
        }) ;
    });

    $('.documents').each(function (){
        $(this).click(function (){
            var temp = $(this).attr('id');
            $.post('/student/course/documents/redirect',{courseid: temp},function (data) {
                //alert(data.url);
                window.location.href = data.url;
            });
        }) ;
    });
</script>

</body>

</html>