<!DOCTYPE html>
<html>
<head>
    <title>发布图文公告</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%= course%>
    <%= msgHead %>
    <%= msgBody %>
    <br>
    <%= photo %>
    <br>
    <img src='<%= photo%>'>
</body>
</html>