
<!DOCTYPE html>
<html>
<head>
    <title>提醒功能设置</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="mainbody" id="mainbody">
    <% if (status === "choose") { %>
        <% for (var i = 0; i < courses.length; i++){ %>
            <div class="<%= courses[i] %>" id="<%= courses[i] %>">
                <h4><%= courses[i] %></h4>
                <label><input name="ddl" value="<%= courses[i] %>" type="checkbox" />作业ddl</label>

                <label><input name="notice" value="<%= courses[i] %>" type="checkbox" />新公告</label>

                <label><input name="document" value="<%= courses[i] %>" type="checkbox" />新文件</label>

                <label><input name="homework" value="<%= courses[i] %>" type="checkbox" />新作业</label>

            </div>
        <hr/>
    <% } %>
    <button id="submit">确定</button>
    <% } %>

    <div class="bottom" id="bottom"></div>
</div>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script>
    $(document).ready(function(){
        var no_ddl = '<%=ddls%>', no_docu = '<%=documents%>', no_noti = '<%=notices%>', no_hwk = '<%=hwks%>';
        $('input[name="ddl"]').each(function (){
            if(no_ddl.indexOf($(this).val()) === -1){
                $(this).attr('checked', true);
            }
        });

        $('input[name="document"]').each(function (){
            if(no_docu.indexOf($(this).val()) === -1){
                $(this).attr('checked', true);
            }
        });

        $('input[name="notice"]').each(function (){
            if(no_noti.indexOf($(this).val()) === -1){
                $(this).attr('checked', true);
            }
        });

        $('input[name="homework"]').each(function (){
            if(no_hwk.indexOf($(this).val()) === -1){
                $(this).attr('checked', true);
            }
        });
    });

    $('#submit').click( function (){
        var ddls = [], documents = [], notices = [], hwks = [];
        $('input[name="ddl"]').each(function (){
            if(!$(this).is(':checked')){
                ddls.push($(this).val());
            }
        });
        //console.log(ddls);
        $('input[name="notice"]').each(function (){
            if(!$(this).is(':checked')){
                notices.push($(this).val());
            }
        });

        $('input[name="document"]').each(function (){
            if(!$(this).is(':checked')){
                documents.push($(this).val());
            }
        });

        $('input[name="homework"]').each(function (){
            if(!$(this).is(':checked')){
                hwks.push($(this).val());
            }
        });

        $.post('/student/remindSettings', {ddls: ddls, documents: documents, notices: notices, hwks: hwks}, function(msg){
            if (msg.status === "seted"){
                $('#bottom').html('设置成功!');
            }
        });

    });

</script>
</body>
</html>