<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style-course.css" />
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <script src="/js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
</head>


<body>
<div class="row">
    <div id="banner" class="widget-content">
        <img src="/img/tsinghua.png">
    </div>
</div>

<div class="row">
    <div id="banner" class="widget-content">
        <img src="/img/line.png">
    </div>
</div>


<% for (var i = 1; i < 7; i++) {%>
    <% for(var j = 0; j < schedule.classes.length; j++) {%>
        <% if ((schedule.classes)[j].time[0] == day && (schedule.classes)[j].week[week - 1] == 1 && (schedule.classes)[j].time[1] == i) {%>
            <ul class="widget-content">
                <div class="widget-title">
                    <li><p>课程名：<%= (schedule.classes)[j].coursename %></p></li>
                </div>
                <div class="widget-middle">
                    <li><p>第<%=i%>大节</p></li>
                </div>
                <div class="widget-text">
                    <li><p>教师：<%= (schedule.classes)[j].teacher %></p></li>
                    <li><p>教室：<%= (schedule.classes)[j].classroom %></p></li>
                </div>
            </ul>s
        <%}%>
    <% } %>
<% } %>

<div class="row">
    <div id="banner" class="widget-content">
        <img src="/img/line.png">
    </div>
</div>

<div class="page-footer">
    <p>版权所有 © WeLearn</p>
</div>
</body>
</html>

